<?xml version='1.0' encoding='utf-8'?>
<widget id="com.suelengc.phonegap" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>HelloWorldPhoneGap</name>
    <description>App for Todo List.</description>
    <author email="suelengcarvalho@gmail.com" href="suelengc.com">Suelen G. Carvalho</author>
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xf2f2f2" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.0" />
    <plugin name="cordova-plugin-geolocation" spec="~2.3.0" />
</widget>
